{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-9">
      <article class="media content-section">
        <h1>CHAT</h1>
        <a class="btn btn-success btn-sm mt-2 ml-5" href="{{ url_for('create_group') }}">Create a group chat</a>
      </article>
    </div>
    <div class="col-md-5">
      <div class="list-group">
        <a class="list-group-item list-group-item">
          <h4>Friends</h4>
        </a>
        {% for key, value in friends.items() %}
          <a href="{{ url_for('p_chat', room_id=value) }}" class="list-group-item list-group-item-action">{{ key }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-5">
      <div class="list-group">
        <a class="list-group-item list-group-item">
          <h4>Group Chats</h4>
        </a>
        {% for chat in chats %}
          <a href="{{ url_for('g_chat', room_id=chat.name) }}" class="list-group-item list-group-item-action">{{ chat.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
